MARIADB_ROOT_PASSWORD=<YOUR ROOT PASSWORD>
MARIADB_DATABASE=crbs_db
MARIADB_USER=crbs_user
MARIADB_PASSWORD=<YOUR USER PASSWOD>
VIRTUAL_PORT=80
VIRTUAL_HOST=<YOUR DNS>
LETSENCRYPT_HOST=<YOUR DNS>
LETSENCRYPT_EMAIL=<YOUR MAIL>
